@import "../utilities/_variables.scss";
@import "../utilities/_windows-style-border.scss";

$btn-icon-size: 30px;

.btn {
  @include windows-style-border();
  background: $windows-grey;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  &:active {
    @include windows-style-border($inverted: true);
  }
  &--active {
    @include windows-style-border($inverted: true);
  }
  .btn__icon {
    display: block;
    width: $btn-icon-size;
    height: $btn-icon-size;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
