@import "../utilities/_variables.scss";

$btn-icon-size: 30px;

.btn {
  background: $windows-grey;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  //min-width: 110px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-color: #fff #000 #000 #fff;
  border-style: solid;
  border-width: 2px;
  &:active {
    border-color: #000 #fff #fff #000;
  }
  &--active {
    border-color: #000 #fff #fff #000;
  }
  .btn__icon {
    display: block;
    width: $btn-icon-size;
    height: $btn-icon-size;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
